<h1>Munka hozzáadása</h1>

<div class="mb-3">
    <label class="form-label">Város</label>
    <input type="text" class="form-control" [(ngModel)]="actual.city">
</div>
<div class="mb-3">
    <label class="form-label">Amihez értesz</label>
    <input type="text" class="form-control" [(ngModel)]="actual.skills">
</div>
<div class="mb-3">
    <label class="form-label">Instrukció</label>
    <input type="text" class="form-control" [(ngModel)]="actual.introduction">
</div>


<button (click)="service.create(actual)" class="btn btn-primary">Munka hozzáadása</button>


